.container{

padding-right: 10cm;
background-color: black;
font-size: 25px;



}
.z4{
	color: red;
	text-align: center;
	background-color: black;
	padding-right: 0.1cm;
}
h1{
	color: red;
}


.z5{
	background-color: black;
	color: white;
	


}
.z6{
	background-color: black;
	color:red; white;
}
.z7{
	background-color: black;
	color:red;
}
.z8{
	background-color: black;
	color:red;
}
.z9{
	background-color: black;
	color:red; 
}
.z10{
	background-color: black;
	color:red; 
}
.z11{
	background-color: black;
	color:red; 
}
.z12{
	background-color: black;
	color:red;
}
.z13{
	background-color: black;
	color: red;
}
.z14{
	background-color: black;
	color:red; 
}
.z15{
	background-color: black;
	color:red; 
}
.z16{
	background-color: black;
	color: red;
}

.y1{
	background-color: black;
	color: white;
}
.y2{
	background-color: black;
	color: white;
}
.y3{
	background-color: black;
	color: white;
}
.y4{
	background-color: black;
	color: white;
}
.y5{
	background-color: black;
	color: white;
}
.y6{
	background-color: black;
	color: white;
}
.y7{
	background-color: black;
	color: white;
}.y8{
	background-color: black;
	color: white;
}.y9{
	background-color: black;
	color: white;
}.y10{
	background-color: black;
	color: white;
}.y11{
	background-color: black;
	color: white;
}
.card{

	padding-left: 30cm;
	
}
.add{
	padding-left: 28cm;
}
.mad{
	padding-left: 26cm;
}
.sub{
	padding-left: 28cm;
}
.mul{

	padding-left: 26cm;
}
.div{
	padding-left: 28cm;
}



























